body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/*calculator body*/
.calc {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 315px;
    background-color: grey;
    border: 2px solid black;
}

/*calculator screen*/
.screen {
    align-self: center;
    width: 210px;
    height: 70px;
    background-color: lightgray;
    margin: 10px 10px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(116, 116, 116) rgb(68, 68, 68) rgb(68, 68, 68) rgb(116, 116, 116);
    text-align: right;
    position: relative;
}

/*text display*/
.screen-text {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 34px;
}

/*container for all buttons*/
.container {
    display: flex;
    justify-content: space-between;
}

/*container for left buttons, containing 0-9 and '.' */
.numgrid {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 10px;
    gap: 8px;
}

/*container for right buttons, containing operations*/
.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100px;
    margin: 10px;
    gap: 8px;
}

/*all buttons*/
.num, .option{
    width: 36px;
    height: 36px;
    font-size: 12px;
    font-weight: 800;
}

/*left buttons*/
.num {
    background-color: lightblue;
}

/*right buttons*/
.option {
    background-color: lightcoral;
}



